.iconBtns {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;

  .btn {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    &.private {
      width: 20px;

      .privateIcon {
        fill: var(--color-light-900);
        width: 100%;
      }
    }

    &::before {
      content: '';

      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);

      width: 28px;
      height: 28px;

      opacity: 0.5;
      background-color: transparent;
      border-radius: 50%;

      transition: 0.5s;
    }

    &:focus-visible {
      outline: none;
    }

    &:hover::before,
    &:active::before,
    &:focus-visible::before {
      transform: translate(-50%, -50%) scale(1);
      background-color: var(--color-dark-100);
      outline: none;
    }

    &:focus-visible::before {
      outline: 2px solid #71ff7a;
    }

    &:active::before {
      background-color: var(--color-dark-300);
    }

    &:disabled::before {
      background-color: transparent;
    }
  }
}

.playCircleOutline,
.Edit2Outline,
.TrashOutline,
.starFavorite {
  cursor: pointer;

  position: absolute;

  width: 16px;
  height: 16px;

  color: var(--color-light-100);

  &:disabled {
    background-color: transparent;
  }
}

.disabled {
  cursor: default;
  opacity: 0.5;
}
