.customClass {
  width: 542px;

  @media (max-width: 767px) {
    //width: 100vw;
    width: 100%;
  }
}

.form {
  max-height: 70vh;
}

.body {
  position: relative;
  z-index: 1;
  margin-bottom: 45px;

  & > :first-child {
    margin-bottom: 24px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
