.card {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 32px 36px 25px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title {
  margin-bottom: 50px;
}

.input {
  width: 100%;
  margin-bottom: 20px;

  label {
    color: var(--color-dark-100);
  }

  input {
    height: 36px;
    outline: 1px solid var(--color-dark-300);
  }
}

.subtitle {
  margin-bottom: 65px;
  color: var(--color-dark-100);
}

.submitBtn {
  margin-bottom: 20px;
}

.passQuest {
  margin-bottom: 8px;
  color: var(--color-light-900);
}

.loginLink {
  color: var(--color-accent-500);
  text-decoration-line: none;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    text-decoration-line: underline;
    background-color: transparent;
  }

  &:visited {
    color: var(--color-accent-500);
  }
}
