@import 'src/styles/mixins';

.button {
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.modal {
  @include animation-appearance;

  @media (max-width: 767px) {
    max-width: 100vw;
  }
}

.body {
  position: relative;
  z-index: 1;
  margin-bottom: 45px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-evenly;
}
