@import 'src/styles/mixins';

.modal {
  @include animation-appearance;

  @media (max-width: 767px) {
    width: 100vw;
  }
}

.text {
  padding-bottom: 18px;
}

.btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
