@import 'src/styles/mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 12px;
}

.DatePicker {
  position: relative;
  display: inline-block;

  & > svg {
    position: absolute;
    right: 12px;
    top: 6px;
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
}

.DatePicker__input {
  padding: 6px 60px 6px 12px;
  border-radius: 2px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  cursor: pointer;

  &:focus {
    border: 2px solid var(--color-success-100);
  }
}

.showPopup .DatePicker__input {
  cursor: text;
}

.DatePicker__input:focus {
  outline: none;
}

.DatePicker__input--invalid {
  border-color: red;
  color: red;
}

.DatePicker__popup {
  position: absolute;
  top: 105%;
  left: 0;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  padding: 16px 24px;
  border-radius: 2px;
}

.CalendarPanel__header {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}

.CalendarPanel__date {
  margin-top: 8px;
  text-align: center;
}

.CalendarPanel__content {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  height: auto;
  margin-bottom: 12px;
}

.CalendarPanel__buttons {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.popup-btn-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-dark-300);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-light-500);
    border: 1px solid var(--color-light-500);
    color: var(--color-dark-500)
  }

  &:focus {
    outline: 1px solid #4C8DFF !important;
    border: 1px solid #4C8DFF !important;
    border-radius: 50%;
  }
}

.CalendarPanel__buttons-right,
.CalendarPanel__buttons-left {
  display: flex;
}

.CalendarPanelItem {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    opacity: 0.2;
  }
}

.CalendarPanelItem--weekDay {
  margin-bottom: 12px;
  color: var(--color-dark-300);
}

.CalendarPanelItem--today {
  color: red;
}

.CalendarPanelItem__date {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-info-700);
  }

  &:focus {
    outline: 1px solid #4C8DFF !important;
    border: 1px solid #4C8DFF !important;
    border-radius: 50%;
  }
}

.CalendarPanelItem--currentDate .CalendarPanelItem__date {
  color: var(--color-info-500);
}


.CalendarPanelItem--not-current .CalendarPanelItem__date {
  color: #8D9094
}

.CalendarPanelItem--not-in-range {
  cursor: not-allowed;
}

.CalendarPanelItem--not-in-range .CalendarPanelItem__date {
  color: #8D9094
}

.CalendarPanelItem--daysOff {
  color: var(--color-danger-300)
}

.CalendarPanelItem--selectedStartDate .CalendarPanelItem__date {
  background-color: var(--color-info-900);
  border-radius: 50% 0 0 50%;
}

.CalendarPanelItem--selectedEndDate .CalendarPanelItem__date {
  background-color: var(--color-info-900);
  border-radius: 0 50% 50% 0;
}

.CalendarPanelItem--selectedDate .CalendarPanelItem__date {
  background-color: var(--color-info-900);
  border-radius: 0;
}

.CalendarPanelItem--selectedStartAndEndDate .CalendarPanelItem__date {
  border-radius: 50%;
}


