.nameBlock {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-start;

  height: 62px;
  padding: 0;

  text-decoration: none;
  white-space: nowrap;

  background-color: transparent;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  .defaltDeckImg {
    width: 100%;
    max-width: 70px;
    height: 100%;

    object-fit: cover;
    border-radius: 5px;
  }
}

.container:hover {
  background-color: var(--color-dark-700);
}

.authorCell {
  width: 200px;
  max-width: 200px;
}
