@import 'src/styles/mixins';

.modal {
  @include animation-appearance;

  width: 420px;

  @media (max-width: 767px) {
    max-width: 100vw;
  }

  div {
    display: flex;
    flex-flow: column nowrap;
  }

  button {
    display: none;
  }
}

.btn {
  width: 100%;
  text-decoration-line: none;
}
