button {
  all: unset;
}

.CheckboxContainer,
.CheckboxRoot {
  align-items: center;
  display: flex;
  width: 150px;
}

.CheckboxContainer {
  font-size: 16px;
}

.CheckboxRoot {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--color-light-900);
  border-radius: 2px;
  justify-content: center;
}

.CheckboxRoot::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-out;
}

.CheckboxRoot:hover:not(.disabled)::before,
.Label:hover .CheckboxRoot::before {
  transform: translate(-50%, -50%) scale(1);
  background: var(--color-dark-500);
}

.CheckboxRoot .checked {
  background-color: var(--color-light-100);
  box-shadow: inset 0 0 0 2px var(--color-light-100);
  border-radius: 2px;
}

.CheckboxRoot svg path {
  fill: var(--color-dark-900);
}

.CheckboxRoot.disabled svg path,
.CheckboxRoot.disabled[data-state='checked'] {
  background-color: var(--color-dark-100);
  fill: var(--color-light-900);
}

.CheckboxRoot.disabled {
  box-shadow: inset 0 0 0 2px var(--color-dark-100);
  cursor: no-drop;
}

.CheckboxRoot.disabled .checked {
  background-color: var(--color-dark-100);
  box-shadow: inset 0 0 0 2px var(--color-dark-100);
}

.Label {
  cursor: pointer;
  padding-left: 15px;
}

.Label.disabled {
  color: var(--color-dark-100);
  cursor: no-drop;
}

.CheckboxContainer:active .CheckboxRoot:not(.disabled)::before {
  transform: translate(-50%, -50%) scale(1);
  background: var(--color-dark-100);
}

.CheckboxRoot:focus-visible::before {
  transform: translate(-50%, -50%) scale(1);
  background: var(--color-dark-500);
}
