.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: blueviolet;
  box-shadow: 0 2px 10px black;
  &:hover {
    background-color: lightcyan;
  }
  &[data-placeholder] {
    color: blueviolet;
  }
}
.selectIcon {
  color: blueviolet;
}
.selectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}
.selectViewport {
  padding: 5px;
}