.box{
  display: grid;
  justify-content: center;
  padding: 33px 34px 48px 34px;
}
.countTry{
  color: var( --color-dark-100);
  font-size: var(--font-size-s);
}
.radio{
  display: grid;
  grid-gap: 12px;
  margin-bottom: 30px;
}
.title{
  font-size: var(--font-size-xxl);
  text-align: center;
  margin-bottom: 45px;
}
.subtitleQuestionBox{
  display: grid;
  grid-gap: 19px;
  margin-bottom: 11px;
}
.subtitleQuestion{
  font-size: var(--font-size-m);
}
.subtitleAnswerBox{
  display: grid;
  grid-gap: 19px;
  margin-bottom: 30px;
}
.subtitleAnswer{
  font-size: var(--font-size-m);
}

.button{
  text-align: center;
}