@import '../../../styles/mixins';

.card {
  @include animation-appearance;

  width: 420px;
  padding: 33px 36px 0;

  @media (width <= 767px) {
    display: block;
    width: 360px;
    padding: 33px 15px 25px;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 40px;
}

.nameEditWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 35px;
  margin-bottom: 84px;
}

.inputStyle {
  width: 348px;
}
