@import 'src/styles/mixins';

.card {
  @include animation-appearance(0.4s);

  display: grid;
  width: 420px;
  margin: 0 auto;
  padding: 33px 36px 25px;
}

.box {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  justify-items: center;

  margin-bottom: 60px;
}

.footer {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  margin: 20px 0 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0 0 33px;
}

.inputStyle {
  width: 348px;
}

.typographyFooterSubtitle {
  @include focus-visible-default;

  display: flex;
  justify-content: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
  }

  &:visited {
    color: var(--color-accent-500);
  }
}

.typographyFooterTitle {
  color: var(--color-light-900);
}

.typographyHead {
  font-size: var(--font-size-xxl);
}
