.card {
  display: grid;
  width: 420px;
  margin: 0 auto;
  padding: 33px 36px 25px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0 0 33px;
}

.typographyHead {
  font-size: var(--font-size-xxl);
}

.box {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  justify-items: center;

  margin-bottom: 60px;
}

.inputStyle {
  width: 348px;
}
