@import 'src/styles/mixins';

.container {
  box-sizing: content-box;
  max-width: 420px;
  margin: 0 auto;
  padding-inline: 12px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0 0;
    align-items: center;
    justify-content: flex-start;

    padding: 35px;

    .form {
      margin: 50px 0 20px;
    }

    .formTextfield {
      width: 100%;
      margin-bottom: 15px;
    }

    .information {
      margin-bottom: 50px;
      color: var(--color-light-900);
    }

    .register {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      align-items: center;
      justify-content: center;

      .typographyFooterTitle {
        color: var(--color-light-900);
      }

      .signIn {
        @include focus-visible-default;

        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
        color: var(--color-accent-500);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
