.table {
  border-collapse: collapse;

  width: 100%;
  max-width: 756px;

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-align: left;
}

.thead {
  background-color: var(--color-dark-500);
}

.headCell {
  padding: 6px 24px;
  white-space: nowrap;

  &:nth-child(-n + 4):hover {
    cursor: pointer;
    background-color: var(--color-dark-300);
    transition: 0.3s;
  }
}
