.table {
  border-collapse: collapse;

  width: 100%;
  max-width: 756px;
  min-height: 100px;
  height: 100%;
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-align: left;
  border-bottom: 1px solid var(--color-dark-300);

}

.thead {
  background-color: var(--color-dark-500);
}

.headCell {
  padding: 6px 24px;
  white-space: nowrap;

  &:not(:last-child):hover {
    cursor: pointer;
    background-color: var(--color-dark-300);
    transition: 0.3s;
  }
  & span {
    display: flex;
    align-items: center;
  }
}

.cell {
  padding: 6px 24px;
  text-align: left;
}
