.box {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.boxFooter {
  display: grid;
  justify-content: center;
  margin-top: 32px;
  grid-gap: 28px;
}

.text {
  text-align: center;
}
