.lastText {
  margin-left: 1rem;
}
.firstText {
  margin-right: 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 24px;
}

.boxItem {
  display: flex;
  align-items: center;
}