@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import 'src/styles/mixins';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--black-a9);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.card {
  position: relative;
  background-color: transparent;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: var(--color-dark-700);
  }
}

.DialogContent {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  max-width: 542px;
  max-height: 85vh;

  border-radius: 6px;
  box-shadow:
    hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;

  //animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  @media (width <= 767px) {
    bottom: 0;
    left: 0;
    transform: translate(0);
    border-radius: 6px 6px 0 0;
    animation: none;
    max-height: 100svh;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 10px;
  padding: 14px;

  border-bottom: 1px solid var(--color-dark-500);

  @media (width <= 767px) {
    margin-left: 0;
    padding: 10px;
  }
}

.DialogContent:focus {
  outline: none;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-light-100);
}

.content {
  overflow-y: auto;
  padding: 24px;

  @media (width <= 767px) {
    max-height: calc(100svh - 57px);
    padding: 10px;
  }
}

.closeBtn {
  @include focus-visible-default;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  font-family: inherit;
  color: var(--color-light-100);

  background-color: transparent;

  transition: opacity 0.3s ease-in-out;

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
