html {
  box-sizing: border-box;
  min-width: 360px;
  height: 100vh;

  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  overflow-x: hidden;

  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-300);
  border-radius: 10px;

  &:hover {
    background-color: var(--color-accent-100);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 1px solid var(--color-dark-300) !important;
  box-shadow: 0 0 0 1px var(--color-dark-300) inset !important;
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--color-light-900) !important;
}
