@mixin focus-visible-default {
  &:focus-visible {
    /*outline: 2px solid var(--color-info-700);*/
  }
}

@mixin focus-visible-green {
  &:focus-visible {
    outline: 2px solid var(--color-success-100);
  }
}
