.box{
  display: flex;
  justify-content: space-between;
  padding: 0 136px 0 136px;
  width: 100%;
  height: 60px;
  background-color: var(--color-dark-500);
}

.dropDown{
  display: flex;
  align-items: center;
}
.text{
  padding-right: 14px;
}
.boxImg{
  display: flex;
  align-items: center;
}