.box {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 0 136px;

  background-color: var(--color-dark-700);
}

.dropDown {
  display: flex;
  align-items: center;
}

.text {
  padding-right: 14px;
}

.boxImg {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttonBox {
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--color-dark-300);
  box-shadow: none;
}
