@import 'src/styles/mixins';

.imgWrapper {
  @include focus-visible-default;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  text-decoration: none;
}

.wrapperCoverImg {
  width: 118px;
  height: 48px;

}

.wrapperCoverImg .coverImg {
  width: 118px;
  height: 48px;

  object-fit: cover;
  object-position: center;

  transition: transform 0.2s;
}

.wrapperCoverImg .coverImg:not(.blur):hover {
  position: relative;
  z-index: 2;
  transform: scale(1.6);
  height: auto;
  object-fit: cover;
}

.wrapperCoverImg .coverImg:not(.blur):hover ~ .blur {
  transform: none;
  filter: blur(3px);
}
.wrapperCoverImg .withImg:not(.blur):hover {

  transform: none;
  filter: none;
  height: 48px;
}

.grade {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;

  width: 100%;
  height: 100%;
}

.grade .star {
  width: 16px;
  height: 16px;
  color: var(--color-warning-300);
}

.iconBtns {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
}

.iconBtns .btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.iconBtns .btn::before {
  content: '';

  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  width: 28px;
  height: 28px;

  opacity: 0.5;
  background-color: transparent;
  border-radius: 50%;

  transition: 0.5s;
}

.iconBtns .btn:focus-visible {
  outline: none;
}

.iconBtns .btn:hover::before,
.iconBtns .btn:active::before,
.iconBtns .btn:focus-visible::before {
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--color-dark-100);
  outline: none;
}

.iconBtns .btn:focus-visible::before {
  outline: 2px solid #71ff7a;
}

.iconBtns .btn:active::before {
  background-color: var(--color-dark-300);
}

.iconBtns .btn:disabled::before {
  background-color: transparent;
}

.Edit2Outline,
.TrashOutline {
  cursor: pointer;

  position: absolute;

  width: 16px;
  height: 16px;

  color: var(--color-light-100);
}

.Edit2Outline:disabled,
.TrashOutline:disabled {
  background-color: transparent;
}

.blur,
.unBlur {
  filter: blur(5px);
  cursor: pointer;
}

.unBlur {
  filter: none;
}

.sell {
  user-select: none;
}