.card {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 32px 36px 48px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
}

.title {
  margin-bottom: 27px;
}

.question {
  color: var(--color-ligth-100);
}

.questionCardImg,
.answerCardImg {
  width: 100%;

  img {
    width: 100%;
  }
}

.showBtn {
  text-align: center;
}

.radio {
  margin-bottom: 30px;
}
