.global {
  max-width: 1008px;
}
.heading {
  display: grid;
  gap: 7px;
  grid-template-rows: auto 1fr;
  width: 100%;
}
.headingFirstRow {
  display: flex;
  justify-content: space-between;
}
.headingGrid {
  align-items: end;
  gap: 25px;
  display: grid;
  grid-template-columns: 1fr 240px 250px 144px;
  //grid-template-columns: 1fr 1fr 1fr 140px;
  //grid-template-columns: 29.2% 22.5% 24.5% 14.1%;
  margin-bottom: 36px;
}

.clearFilter {
  ////text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}

.arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}
.input {
  width: 100%;
}
.tabsSwitcher {
}

.footer {
  margin: 24px 0;
  width: 100%;
}

.empty {
  text-align: center;
}
