@import '../../../../styles/mixins';


.card {
  position: relative;
  z-index: 1;

  display: grid;

  width: 420px;
  padding: 33px 36px 25px;

  @media (max-width: 767px) {
    display: block;
    width: 360px;
    padding: 33px 15px 25px;
  }
}

.box {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  margin-bottom: 60px;
}

.footer {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  margin: 20px 0 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0 0 33px;
}

.inputStyle {
  width: 348px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.typographyForgotTitle {
  @include focus-visible-default;

  margin-right: 0;
  margin-left: auto;
  color: var(--color-light-900);
}

.typographyFooterSubtitle {
  @include focus-visible-default;

  display: flex;
  justify-content: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
  }

  &:visited {
    color: var(--color-accent-500);
  }
}

.typographyFooterTitle {
  color: var(--color-light-900);
}

.typographyHead {
  font-size: var(--font-size-xxl);
}
