.common {
  max-width: 1008px;
}

.heading {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 7px;
  width: 100%;
}

.headingFirstRow {
  display: flex;
  justify-content: space-between;
}

.searchParams {
  display: grid;
  grid-template-columns: 1fr 240px 250px 144px;
  gap: 25px;
  align-items: end;

  margin-bottom: 36px;
}

.sliderBox {
  display: flex;
  flex-flow: column nowrap;
  gap: 7px;

  width: 100%;
  max-width: 250px;

  .slider {
    max-width: 150px;
  }
}

.clearFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}

.arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.input {
  width: 100%;
}

.tabsSwitcher {
}

.footer {
  width: 100%;
  margin: 24px 0;
}

.empty {
  text-align: center;
}
