@import 'src/styles/mixins';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.common {
  animation: fadeIn 0.6s;
}

.heading {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 7px;
  width: 100%;

  @media (max-width: 1279px) {
    display: flex;
    flex-direction: column;
  }
}

.headingFirstRow {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-flow: row nowrap;

  //grid-template-columns: 1fr 240px 250px 144px;
  gap: 25px;
  align-items: end;

  margin-bottom: 36px;

  @media (max-width: 1279px) {
    flex-flow: row wrap;
  }
}

.tabsSwitcher {
}

.sliderBox {
  display: flex;
  flex-flow: column nowrap;
  gap: 7px;

  width: 100%;
  max-width: 250px;

  @media (max-width: 1279px) {
    max-width: 100%;
  }

  .slider {
    max-width: 150px;

    @media (max-width: 1279px) {
      max-width: 100%;
    }
  }
}

.clearFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 36px;

  white-space: nowrap;

  @media (max-width: 1279px) {
    max-width: 100%;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
}

.arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.input {
  width: 100%;
  max-width: 500px;

  @media (max-width: 1279px) {
    max-width: 100%;
  }
}

.tabsSwitcher {

}

.footer {
  width: 100%;
  margin: 24px 0;
}

.empty {
  text-align: center;
}
