.root {
  display: flex;
  flex-direction: column;
  column-gap: 0;
  align-items: stretch;
  justify-content: flex-start;

  .image {
    aspect-ratio: 3/1;
    width: 100%;

    object-fit: cover;
    border-radius: 4px;

    transition: 0.3s;

    &.hover {
      cursor: pointer;
    }

    &.open {
      aspect-ratio: 1/1;
    }
  }

  .imgIcon {
    width: 18px;
    height: 18px;
    fill: var(--color-light-100);
  }

  .error {
    color: var(--color-danger-300);
  }

  .previewControls {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 24px;
    align-items: center;
    justify-content: space-between;

    button {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      flex-grow: 1;
    }
  }
}
