@import 'src/styles/mixins';

.boxContent {
  @include focus-visible-default;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.flag {
  cursor: pointer;
  width: 40px;
  height: 30px;
  object-fit: cover;
}

.flagEng {
  cursor: pointer;
  width: 40px;
  height: 30px;
}

.DropdownMenuContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.IconButton {
  @include focus-visible-default;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
}

.flagOwn {
  width: 30px;
  height: 20px;
}

.IconButton[data-state='open'] img,
.IconButton:focus-visible img {
  box-shadow: 0 0 10px 8px rgb(137 74 255 / 50%);
}
