.form {
  //overflow-y: scroll;
  max-height: 70vh;
  //padding: 0;
  //padding: 15px;
}
.body {
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
  & > :first-child {
    margin-bottom: 24px;
  }
}

.customClass {
  width: 542px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
