.card {
  width: 420px;
  padding: 33px 36px 0;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 40px;
}

.imgGroup {
  position: relative;
  width: 96px;
  height: 96px;
  margin-bottom: 14px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .editAvatarBtn {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 24px;
    height: 24px;
    padding: 0;
  }

  .editAvatarIcon {
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }
}

.profileEdit {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.nameWithEdit {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .editNameBtn {
    position: absolute;
    right: -18px;

    width: 16px;
    height: 16px;
    padding: 0;

    background-color: transparent;
    box-shadow: none;

    .editNameIcon {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.email {
  margin: 0 auto 13px;
  color: var(--color-dark-100);
}

.backBtn {
  position: absolute;
  bottom: -33px;
  left: 0;
}

.logoutBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 122px;
  height: 36px;

  text-decoration-line: none;
  text-decoration: none;

  background-color: var(--color-dark-300);
  border-radius: 4px;
}

.nameEditWrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 35px;
  margin-bottom: 84px;
}

.inputStyle {
  width: 348px;
}
.backHome{
  display: flex;
  align-items: center;
  cursor: pointer;
}
