.nameBlock {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  text-decoration: none;
  white-space: nowrap;

  .defaltDeckImg {
    width: 118px;
  }
}

.iconBtns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;

  button {
    padding: 0;
    background: none;
    border: none;
  }
}

.playCircleOutline,
.Edit2Outline,
.TrashOutline {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: var(--color-light-100);
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
.arrow {
  width: 24px;
  height: 24px;
}
