.heading {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  margin-bottom: 24px;
}

.headingSecondRow {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 10px;
  }

  & .isWithImage > h1 {
    margin-bottom: 15px;
  }
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
  .privacyIcon {
    opacity: 0.6;
    width: 25px;
    color: var(--color-accent-300);
  }
}

.dropdown {
  display: flex;
  align-items: center;
  width: 24px !important;
  height: 24px !important;
}

.switchButton {
  display: flex;
  align-items: end;
  justify-content: end;

  & > button:first-child > p {
    margin: 0;
  }
}

.learnCards {
  text-decoration: none;
}

.input {
  width: 100%;
}

.wrapperCoverImg {
  position: relative;
  .coverImg {
    max-width: 200px;
    width: 100%;
    position: relative;

    object-fit: cover;
    object-position: center;

    transition: transform 0.2s;

    &.withImg:hover {
      transform: scale(1.6);
      height: auto;
      object-fit: cover;
      position: absolute;
      z-index: 999;
    }
  }
}
