.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  width: 100%;
  height: 60px;
  background-color: var(--color-dark-700);
  .img {
    display: block;
    height: 40px;
    width: 100%;
    fill: var(--color-accent-100);
    border-radius: 8px;
    transition: fill 0.3s;
    filter: drop-shadow(0 0 30px rgb(137 74 255 / 50%));
  }

  .img:hover {
    fill: var(--color-success-100);
  }
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  padding-inline: 24px;
  justify-content: space-between;
  margin: 0 auto;
}
.dropDown {
  display: flex;
  align-items: center;
}
.text {
  text-decoration: none;
  padding-right: 14px;
  &:hover {
    color: var(--color-accent-100);
  }
}
.boxImg {
  display: flex;
  align-items: center;
}
.buttonBox {
  display: flex;
  align-items: center;
}
.button {
  background-color: var(--color-dark-300);
  box-shadow: none;
}

.Link {
  text-decoration: none;

}

