@import 'src/styles/mixins';

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 60px;
  margin-bottom: 36px;

  background-color: var(--color-dark-700);

  &.sun {
    background-color: var(--color-dark-500);
  }

  .img {
    display: block;

    width: 100%;
    height: 40px;

    fill: var(--color-accent-500);

    transition: fill 0.3s;

    &:hover {
      outline: none;
      fill: var(--color-success-300);
    }
  }

  .imgHidden {
    display: none;
  }
}

.logo:focus-visible {
  @include focus-visible-default;

  & .img {
    fill: var(--color-success-100);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 16px;

  @media (width <= 1023px) {
    gap: 20px;
    padding-inline: 10px;
  }
}

.profile {
  @include focus-visible-default;

  display: flex;
  gap: 14px;
  align-items: center;
}

.name {
  text-decoration: none;

  &:focus-visible {
    @include focus-visible-default;

    color: var(--color-accent-100);
  }

  &:hover {
    color: var(--color-accent-100);
  }

  @media (width <= 767px) {
    display: none;
  }
}

.boxImg {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttonBox {
  display: flex;
  align-items: center;
}

.button {
  @include focus-visible-default;

  text-decoration-line: none;
  background-color: var(--color-dark-300);
  box-shadow: none;

  @media (width <= 1023px) {
    padding: 0.1rem 0.5rem;
    text-align: center;
  }
}
