.boxInput {
  &[type='search'] {
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }

    &::-ms-clear {
      display: none;
    }
  }
}
.box {
  width: 200px;
}

.boxImg {
  position: relative;
  transform: translate(1000%, 20%);
}

.boxInput {
  // Region
  // ! Серега ПРИМЕНИ ЭТИ СТИЛИ!!!
  //outline: 2px solid var(--color-dark-300);
  outline: none;
  box-shadow: inset 0 0 0 2px var(--color-dark-300);
  // End
  border: none;
  background-color: transparent;
  text-indent: 12px;
  height: 36px;
}
.boxPadding {
  text-indent: 35px;
}

.boxInput:hover {
  background-color: rgba(128, 128, 128, 20%);
}

.active {
  outline: 2px solid var(--color-light-100);
  border: none;
  background-color: transparent;
}

.hover {
  outline: 2px solid var(--color-dark-100);
  background-color: transparent;
  text-indent: 12px;
}

.errorSeach {
  outline: 2px solid var(--color-danger-300);
  border: none;
  background-color: transparent;
}
.errorSeach.boxInput {
  color: var(--color-danger-300);
}
.errorTextAndPassword {
  outline: 2px solid var(--color-danger-300);
  border: none;
  background-color: transparent;
  text-indent: 12px;
}

.errorText {
  color: var(--color-danger-300);
  font-size: 12px;
}

.boxInput:focus {
  color: var(--color-light-100);
  outline: 2px solid var(--color-info-700);
  border: none;
}

.search {
  position: relative;
  transform: translate(250%, 20%);
}
.close {
  position: relative;
  transform: translate(1000%, 0);
}

.Eye {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.Search {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.Close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.searchClose {
  width: 100%;
  position: relative;

  input {
    width: 100%;
  }
}

.label {
  font-size: 14px;
  color: var(--color-dark-100);
}
