.pagination {
  overflow: visible;
  display: flex;
  align-items: center;
}

.pageLinkWrapper:not(:last-child) {
  margin-right: 12px;
}

.pageLink {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 8px;

  font-size: 14px;
  color: var(--color-light-100);
  text-decoration: none;

  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;

  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    background-color: transparent;
  }

  &.active {
    z-index: 2;
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
  }

  &.disabled {
    pointer-events: none;
    color: var(--color-dark-100);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  padding: 0;

  fill: var(--color-light-900);
}
