.card {
  display: grid;
  width: 420px;
  padding: 33px 36px 0;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.footer {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  margin: 20px 0 0;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.img {
  width: 96px;
  height: 96px;
}

.imgGroup {
  position: relative;
}

.inputStyle {
  width: 348px;

  //color: black;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 36px 0 84px;
}

.buttonWrapperEdit {
  margin: 13px 0 41px;
}

.profileEdit {
  display: grid;
  grid-auto-rows: 1fr;
  justify-items: center;
  margin-top: 6px;
}

.editIconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

.editIconButtonImg {
  position: absolute;
  right: 0;
  bottom: 5px;
  padding: 6px;

  & .editIcon {
    width: 0.9rem;
    height: 0.9rem;
  }
}

.editIconButtonTxt {
  position: relative;
  bottom: -2px;

  padding: 0;

  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: transparent;
    outline: 2px solid var(--color-info-700);
  }

  & .editIcon {
    width: 1rem;
    height: 1rem;
  }
}

.email {
  color: var(--color-dark-100);
}

.logoutIcon {
  margin-right: 10px;
}

.typographyForgotTitle {
  margin-right: 0;
  margin-left: auto;
  color: var(--color-light-900);
}

.typographyFooterSubtitle {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}

.typographyFooterTitle {
  color: var(--color-light-900);
}

.typographyHead {
  font-size: var(--font-size-xxl);
}
