* p {
  margin: 0;
}
.preview {
  margin-top: 8px;
  margin-bottom: 16px;
}
.uploadImg {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-300);
  border-radius: 4px;
  padding: 8px 0 8px 0;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: none;
  &.removeImg {
    margin-bottom: 14px;
  }
  &:hover {
    background-color: var(--color-dark-100);
  }
  &:active {
    background-color: var(--color-light-900);
  }
  &:focus,
  &:first-child:focus {
    outline: unset;
    box-shadow: 0 0 0 2px inset var(--color-info-700);
  }
}

.inputImg {
  //position: absolute;
  //z-index: -1;
  //opacity: 0;
  //width: 100%;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.questionTxt {
  margin-top: 12px;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 14px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
}
.img {
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
