//p {
//  margin: 0;
//}

.preview {
  margin-top: 8px;
  margin-bottom: 16px;
}

.uploadImg {
  cursor: pointer;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 0;

  background-color: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: none;

  transition: background-color 0.2s ease-in-out;

  &.removeImg {
    margin-bottom: 14px;
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-light-900);
  }

  &:focus,
  &:first-child:focus {
    outline: unset;
    box-shadow: 0 0 0 2px inset var(--color-success-100);
  }
}

.inputImg {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  //position: absolute;
  //z-index: -1;
  //opacity: 0;
  //width: 100%;
  opacity: 0;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.questionTxt {
  margin-top: 12px;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 14px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

.img {
  max-width: 100%;
  margin-bottom: 24px;
  object-fit: cover;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-evenly;
}
