// Общее
.tableRoot {
  table-layout: fixed;
}
.emptyTableHeadCell {
  width: 15%;
}
// Для Decks
.tableHeadCellDecks:nth-child(1) {
  width: 35%;
}
.tableHeadCellDecks:nth-child(2) {
  width: 10%;
}

.arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.emptyTableHeadCell {
}
.empty {
  text-align: center;
}
