.root {
  display: flex;
  flex-flow: column wrap;
  width: 100%;

  .head {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .addBtn {
      width: 148px;
      height: 36px;
    }
  }

  .pagination {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .text {
      display: flex;
      flex-flow: row nowrap;
      gap: 9px;
      align-items: center;
    }
  }
}
