@import 'src/styles/mixins';

.deckRowCell {
  position: relative;
  .privacyIcon {
    color: var(--color-accent-100);
    height: 20px;
    opacity: 0.6;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 20px;
  }
}

.imgWrapper {
  @include focus-visible-default;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;

  text-decoration: none;
  //position: relative;
}

.wrapperCoverImg {
  width: 118px;
  height: 48px;
  position: relative;

  .coverImg {
    width: 100%;
    height: 100%;
    //position: relative;

    object-fit: cover;
    object-position: center;

    transition: transform 0.2s;

    &.withImg:hover {
      transform: scale(1.6);
      height: auto;
      object-fit: cover;
      position: absolute;
      z-index: 1;
    }
  }
}
