@import 'src/styles/mixins';

.imgWrapper {
  @include focus-visible-default;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;

  text-decoration: none;
}

.wrapperCoverImg {
  width: 118px;
  height: 48px;

  .coverImg {
    width: 118px;
    height: 48px;

    object-fit: cover;
    object-position: center;

    transition: transform 0.2s;

    &.withImg:hover {
      transform: scale(1.6);
      height: auto;
      object-fit: cover;
    }
  }
}
