@import 'src/styles/mixins';

.deckRowCell {
  position: relative;
  .privacyStep {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 20px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    .privacyIcon {
      width: 100%;
      color: var(--color-accent-100);
    }
  }
}

.imgWrapper {
  @include focus-visible-default;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;

  text-decoration: none;
  //position: relative;
}

// Оригинально как было
//.wrapperCoverImg {
//  width: 118px;
//  height: 48px;
//  position: relative;
//
//  .coverImg {
//    width: 100%;
//    height: 100%;
//    //position: relative;
//
//    object-fit: cover;
//    object-position: center;
//
//    transition: transform 0.2s;
//    &.withImg:hover {
//      transform: scale(1.6);
//      height: auto;
//      object-fit: cover;
//      position: absolute;
//      z-index: 1;
//    }
//  }
//}

// !РАСТЯГИВАЕТСЯ ХРЕНОВО
//.wrapperCoverImg {
//  //width: 118px;
//  height: 48px;
//  width: 48px;
//  position: relative;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//  .defImg {
//    width: 100%;
//    height: 100%;
//    transition: transform 0.2s;
//    //object-fit: cover;
//    //object-position: center;
//    border-radius: 50%;
//    &:hover {
//      transform: scale(1.5);
//      //height: 100%;
//      //object-fit: contain;
//      //position: absolute;
//      //z-index: 1;
//    }
//  }
//  .coverImg {
//    height: 100%;
//    width: 100%;
//    //position: relative;
//
//    object-fit: cover;
//    object-position: center;
//
//    transition: transform 0.2s;
//    &:hover {
//      transform: scale(2);
//      //height: 100%;
//      object-fit: contain;
//      //position: absolute;
//      //z-index: 1;
//    }
//  }
//  .coverImg:hover,
//  .defImg:hover {
//    //transform: scale(2.5);
//    height: 100%;
//    //object-fit: contain;
//    position: absolute;
//    z-index: 1;
//  }
//}

//// ! Растягивается норм, но картинка не полная
//.wrapperCoverImg {
//  //width: 118px;
//  height: 48px;
//  width: 48px;
//  position: relative;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//  .defImg {
//    width: 100%;
//    height: 100%;
//    transition: transform 0.2s;
//    border-radius: 50%;
//    &:hover {
//      transform: scale(1.5);
//    }
//  }
//  .coverImg {
//    height: 100%;
//    width: 100%;
//    //position: relative;
//
//    object-fit: cover;
//    object-position: center;
//
//    transition: transform 0.2s;
//    &:hover {
//      transform: scale(2);
//      //height: 150%;
//      width: 200%;
//      //object-fit: contain;
//      position: absolute;
//      z-index: 1;
//    }
//  }
//}

//! Вроде самый норм вариант
.wrapperCoverImg {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .defImg,
  .coverImg {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
  }
  .defImg {
    border-radius: 50%;
    object-fit: cover; /* Используем object-fit: cover для сохранения пропорций */
    object-position: center;
    &:hover {
      transform: scale(1.5);
    }
  }

  .coverImg {
    object-fit: cover; /* Используем object-fit: cover для начального отображения */
    object-position: center;
  }

  &:hover .coverImg {
    /* Масштабируем изображение, сохраняя его пропорции и позволяя выходить за пределы контейнера */
    transform: scale(2.5); /* Увеличиваем размер изображения в 2 раза */
    object-fit: contain; /* Изменяем object-fit на contain, чтобы изображение не обрезалось */
    object-position: center; /* Центрируем изображение */
    position: absolute;
    z-index: 1;
  }
}
