@import 'src/styles/mixins';

.tableRoot {
  table-layout: fixed;
}

.emptyTableHeadCell {
  width: 15%;
}

.nameSortBtn {
  @include focus-visible-default;

  display: flex;
}

// Для Decks
.tableHeadCellDecks:nth-child(1) {
  width: 35%;
}

.tableHeadCellDecks:nth-child(2) {
  width: 12%;
}

// Для Cards
.tableHeadCellCards:nth-child(1),
.tableHeadCellCards:nth-child(2) {
  width: 27%;
}

.arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.emptyTableHeadCell {
}

.empty {
  text-align: center;
}
