.backBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  width: max-content;
  margin-bottom: 32px;
  padding: 0;

  text-decoration: none;

  background-color: transparent;
  box-shadow: none;

  &:focus-visible {
    color: var(--color-accent-500);
    background-color: transparent;
  }

  &:hover {
    background-color: transparent;
    color: var(--color-accent-500);
  }

  .text {
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
    align-items: center;

    width: max-content;

    transition: 0.3s;

    .backArrow {
      width: 16px;
      height: 16px;
    }
  }
}
