.backBtn {
  display: flex;
  width: max-content;
  margin-bottom: 32px;
  padding: 0;

  text-decoration: none;

  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: transparent;
  }

  &:focus-visible {
    background-color: transparent;
  }

  .text {
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
    align-items: center;
    width: 200px;
    transition: 0.3s;

    &:hover {
      color: var(--color-accent-500);
    }

    .backArrow {
      width: 16px;
      height: 16px;
    }
  }
}
